<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" class="has-navbar-fixed-top-no">
<head>
    <title>{{ .Site.Title }}{{ if not .IsHome }} {{ with .Title }} | {{ . }}{{ end }} {{ end }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "_internal/opengraph.html" . }}

    {{ $style := resources.Get "css/site.css" }}
    {{ $bulma := resources.Get "css/bulma.0.8.2.min.css" }}
    {{ $bundle := slice $bulma $style | resources.Concat "css/bundle.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $bundle.Permalink | relURL }}" integrity="{{ $bundle.Data.Integrity }}"/>

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ template "_internal/google_analytics.html" . }}
</head>
<body>
    <div class="main container">
        {{ partial "navbar.html" . }}
        <div class="section">
            {{ block "main" . }}{{ end }}
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>
</html>
