{{ define "main" }}
    <h1 class="has-text-weight-bold is-size-4">
        {{ .LinkTitle }}
    </h1>

    <div class="block is-size-7 has-text-grey-light">
        {{ if .Params.author }}
        <a href="/author/{{ .Params.author | urlize }}">{{ .Params.author }}</a> &middot;
        {{ end }}
        {{ with .Date }}{{ .Format "January 2, 2006" }}{{end}}
    </div>

    <div class="content block">
        {{ .Content }}
    </div>

    <div class="block">
        {{ range (.GetTerms "tags") }}
            <a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end}}
    </div>

    {{ partial "relative.html" . }}

    <div class="block">
        {{ $data := (.Resources.GetMatch "comments.json") }}
        {{ with $data }}
            <hr>
            <h1 class="has-text-weight-bold is-size-5">Responses to <i>{{$.Title}}</i></h1>
            <br>
            {{ partial "comment.html" (dict "context" (.Content | transform.Unmarshal)) }}
        {{ else }}
            {{- if (not .Params.disableDisqus) -}}
                {{ template "_internal/disqus.html" . }}
            {{- end -}}
        {{ end }}
    </div>
{{ end }}