{{ define "main" }}
    <div class="columns is-centered is-multiline">
        <div class="column is-8 box">
            <h1 class="title is-size-2">{{ .Title }}</h1>

            {{ if isset .Params "author" }}
                <p class="has-text-weight-semibold is-size-5"><a href="/author/{{ .Params.author | urlize }}">{{ .Params.author }}</a></p>
                <p class="subtitle is-7">{{ .Date.Format "January 2, 2006" }}</p>
            {{ end }}

            <div class="content">
                {{ .Content }}
            </div>

            <div>
            {{ range (.GetTerms "tags") }}
                <a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end}}
            </div>

        </div>

        <div class="column is-8 box">
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>
{{ end }}

