{{ $mobile := .mobile }}
{{ range .context.Replies }}
<article comment-id="{{.ID}}" {{ if .ReplyTo }}reply-to="{{.ParentID}}"{{end}} class="media {{if $mobile}}is-hidden-desktop{{end}}">
    <figure class="media-left">
      {{ with .Image }}
      <p class="image is-32x32">
        <img src="{{ . }}">
      </p>
      {{ end }}
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                {{ with .Author }}
                <strong>{{ . }}</strong> 
                {{ end }}

                {{ with .Date }}
                <span class="is-size-7 has-text-grey-light"> &middot; {{ . }}</span>
                {{ end }}
                
                {{ if $mobile }}
                    <div class="block is-hidden-desktop has-text-grey-light">
                    {{ if ne .Author .ReplyTo }}
                        {{ if .ReplyTo }}
                        <small>@{{ .ReplyTo }}</small>
                        {{ end }}
                    {{ end }}
                    </div>
                {{ end }}

                <div class="block">
                {{ with .Content }}
                    {{ . | markdownify }}
                {{ end }}
                </div>
            </p>
        </div>
        <div class="is-hidden-touch">
            {{ partial "comment.html" (dict "context" .) }}
        </div>
    </div>
</article>
{{ partial "comment.html" (dict "context" . "mobile" true)}}
{{ end }}