<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        {{ with .Site.Params.social.github }}
        <span class="icon is-large">
            <a href="{{ . | safeURL }}" rel="me" target="_blank" class="icon-link">
                <i class="fab fa-github fa-3x"></i>
            </a>
        </span>&nbsp;&nbsp;
        {{ end }}
        {{ with .Site.Params.social.twitter }}
        <span class="icon is-large">
            <a href="{{ . | safeURL }}" rel="me" target="_blank" class="icon-link">
                <i class="fab fa-twitter fa-3x"></i>
            </a>
        </span>&nbsp;&nbsp;
        {{ end }}
        {{ with .Site.Params.rss.rel }}
        <span class="icon is-large">
            <a href="{{ . | safeURL }}" rel="me" target="_blank" class="icon-link">
                <i class="fa fa-rss fa-3x"></i>
            </a>
        </span>&nbsp;&nbsp;
        {{ end }}
        <br><br>
        Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}}
    </div>
</footer>