<article class="media">
  <div class="media-content">
      <div class="content">
          <p class="title is-4"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
          {{ with .Params.cover }}
              <p><img class="image" src="{{ . }}" ></p>
          {{ end }}
          {{ with .Summary }}
          <div class="content">
            {{ . }}
          </div>
          {{ end }}
          {{ if isset .Params "author" }}
          <p class="subtitle is-size-7 has-text-grey-light">
              <a href="/author/{{ .Params.author | urlize }}">{{ .Params.author }}</a> &middot; {{ .Date.Format "January 2, 2006" }}
          </p>
          {{ end }}
      </div>
  </div>
</article>