  
  {{ if .Params.cover }}
  <div class="block">
    <figure class="image">
      <a href="{{ .RelPermalink }}">
        <img class="image" src="{{ .Params.cover }}">
      </a>
    </figure>
  </div>
  {{ end }}

  <div class="block">
    <div class="has-text-weight-bold is-size-4"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>

    <div class="block is-size-7 has-text-grey-light">
        {{ if .Params.author }}
        <a href="/author/{{ .Params.author | urlize }}">{{ .Params.author }}</a> &middot;
        {{ end }}
        {{ with .Date }}{{ .Format "January 2, 2006" }}{{end}}
    </div>

    {{ with .Summary }}
    <div class="content">
      {{ . }}
    </div>
    {{ end }}
    
    {{ range (.GetTerms "tags") }}
    <a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end}}
  </div>
  <hr>